swagger: "2.0"
info:
  title: Fenix Bookstore
  version: 0.0.1
  description: 使用基于Flask的单体架构实现《凤凰架构：构建可靠的大型分布式系统》一书中的Fenix's BookStore网站
host: localhost
basePath: /v1
schemes:
  - http
paths:
  /index:
    get:
      tags:
        - Index
      produces:
        - text/html; charset=utf-8
      responses:
        "200":
          description: 成功返回Index页面
          headers:
            Content-Type:
              type: string
          schema:
            type: file
          # examples:
          #   text/html:
          #     <!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><title>Fenix's BookStore</title><link rel="shortcut icon" href=/favicon.ico><link href=/static/css/app.13440f960e43a3574b009b7352447f18.css rel=stylesheet></head><body><div id=app></div><script type=text/javascript src=/static/js/manifest.be9e3c501ca0bc52825c.js></script><script type=text/javascript src=/static/js/vendor.c2f13a2146485051ae24.js></script><script type=text/javascript src=/static/js/app.331ad586648d8797fd6b.js></script></body></html>
        "404":
          description: 找不到Index页面