swagger: "2.0"
info:
  title: Fenix Bookstore
  version: 0.0.1
  description: 使用基于Flask的单体架构实现《凤凰架构：构建可靠的大型分布式系统》一书中的Fenix's BookStore网站
host: localhost
basePath: /v1
schemes:
  - http
paths:
  /index:
    get:
      tags:
        - Index
      produces:
        - text/html; charset=utf-8
      responses:
        "200":
          description: 成功返回Index页面
          headers:
            Content-Type:
              type: string
          schema:
            type: file
        "404":
          description: 找不到Index页面
  /advertisements:
    get:
      tags:
        - Advertisements
      produces:
        - application/json
      responses:
        "200":
          description: 成功返回广告轮播图
          schema:
            $ref: "#/definitions/advertisementsModel"
  /products:
    get:
      tags:
        - Products
      produces:
        - application/json
      responses:
        "200":
          description:
            返回所有书本
          schema:
            type: array
            items:
              $ref: "#/definitions/productModel"
  /products/{productId}:
    get:
      tags:
        - Product
      produces:
        - application/json
      parameters:
        - in: path
          type: integer
          name: productId
          required: True
      responses:
        "200":
          description: 按编号返回书本详情信息
          schema:
            $ref: "#/definitions/productModel"
        "404":
          description: 编号指定的书本不存在
definitions:
  advertisementsModel:
    type: array
    items:
      type: object
      properties:
        id:
          type: integer
        image:
          type: string
          description: 广告轮播图中某书本的图片URL
          example: /static/carousel/fenix2.png
        productId:
          type: integer
  productModel:
    type: object
    properties:
      id:
        type: integer
        description: 书本编号
      title:
        type: string
        description: 书名
      price:
        type: number
        description: 书本价格
      rate:
        type: number
        description: 优惠折扣
      description:
        type: string
        description: 书本描述
      cover:
        type: string
        description: 书本封面页图片链接
      detail:
        type: string
        description:
          书本详情图片链接
      specifications:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
              description: 书本规格属性编号
            item:
              type: string
              description: 书本规格属性名称
            value:
              type: string
              description: 书本规格属性值
      